<h1>Content of Document#<%= @document.id %></h1>

<div>
  <%= @document.content %>
</div>
<br>

<div>
  <strong>Summary:</strong> <%= @document.summary %>
</div>
<br>

<div>
  <strong>Sentiment:</strong> <%= @document.sentiment %>
</div>
<br>

<div>
  <strong>Top Keywords:</strong><br>
  <% @keywords.each do |keyword| %>
    <div>Name: <%= keyword.name %>, Frequency: <%= keyword.frequency %></div><br>
  <% end %>
</div>
